*{
  margin: 0;
}

#card {
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
}

#image-box{
  border: 2px solid black;
}

#header{
  padding-left: 4%;
  border: 2px solid black;
  background-color: #000BA3;
  color: gold;
}
