* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#header {
  width: 100%;
  padding: 0.5%;
  margin-bottom: 2%;
  background-color: #000BA3;
  color: gold;
}

#card {
  display: flex;
  flex-direction: column;
  border: 10px solid #000BA3;
  border-radius: 25px;
  max-width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  background-color: #0034a3;
  padding: 0.5vw;
}

@media (max-width: 768px) {  
  #card {
    max-width: 60%;
  }
}

@media (max-width: 480px) {  
  #card {
    max-width: 80%; 
  }
}

#mon-name {
  color: whitesmoke;
  margin-bottom: 1.5%;
  padding-left: 3.33%;
}

#image-box {
  width: 100%;
  border: 2px solid black;
  height: 100%;
  border-radius: 25px;
  background-color: whitesmoke;
  margin-bottom: 1%;
}

img {
  width: 100%;
  object-fit: contain;
}

